.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-actions {
    margin-bottom: 1rem !important;
}

.card-button {
    width: 100%;
    color: white !important;
    text-transform: none !important;
    font-weight: 600 !important;
    background-color: #00a278 !important;
}

.card-button:hover {
    background-color: #00845c !important;
}